@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #F4F7EB;
    color: white;
}

/* Header */
header {
    background: #35312bde;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    transition: background 0.3s;
}

header nav a:hover {
    background: #575757;
    border-radius: 5px;
}

h2 {
    color: #35312B;
}

/* Espaciador para mayor separación entre header y contenido */
.spacer {
    height: 800px; /* Mucho más espacio entre el header y los planes */
}

/* Planes */
#plans {
    text-align: center;
    padding: 2rem;
}

#about {
    background:#35312B;
    color: #FFF;
}

.plan-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem; /* Planes más pegados */
}

.plan {
    background: #35312B;
    color: #FFF;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 1.5rem;
    width: 16%; /* Cuadrados un poco menos anchos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.plan h3 {
    margin-bottom: 1rem;
}

.plan ul {
    list-style: none;
    padding: 0;
}

.plan ul li {
    margin: 0.5rem 0;
}

/* Sobre Nosotros */
section {
    padding: 4rem 2rem;
    text-align: center;
    color: #35312B;
}

/* Footer */
footer {
    background: #35312B;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer section {
    color: inherit;
    text-align: center;
    padding: 1rem 0;
}

footer h4 {
    color: inherit;
    padding: 1rem 0;
    margin-top: 2rem;
}


/* Responsivo */
@media (max-width: 768px) {
    .plan-container {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        width: 90%;
    }
}